@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  line-height: 1;
  font-weight: 700;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

.scroll-custom::-webkit-scrollbar {
  width: 0.3125rem;
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
  @apply bg-brand-primary rounded border-[0.125rem] border-transparent;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
  @apply bg-interaction-hover;
}
